@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satine';
  src: url("../fonts/Satine.ttf") format('truetype');
}

@font-face {
  font-family: "moxa";
  src: url("../fonts/moxa.ttf") format('truetype');
}

@font-face {
  font-family: 'agraham';
  src: url("../fonts/Agraham.otf") format('opentype');
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.ttf") format('truetype');
}

@font-face {
  font-family: "MonoJB";
  src: url("../fonts/JetBrainsMono.ttf") format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Inter:wght@400;700&display=swap');

html {
  font-family: 'Outfit', 'Inter', sans-serif;
  background: transparent;
  color-scheme: dark;
}

body {
  @apply bg-transparent text-gray-100 min-h-screen;
  font-family: 'Outfit', 'Inter', sans-serif;
  transition: background 0.5s;
}

.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}

.font-monojb {
  font-family: 'MonoJB', sans-serif;
}


.test-satine {
  font-family: 'Satine', sans-serif;
}

.test-moxa {
  font-family: 'moxa', sans-serif;
}

.test-agraham {
  font-family: 'agraham', sans-serif;
  scale: 0.5;
}

.content--canvas {
  @apply fixed inset-0;
  width: 100vw;
  height: 100vh;
}

canvas {
  @apply absolute inset-0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}


.mypic {
  position: relative;
  height: screen;
  width: screen;
}

.mypic::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/my-pic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.35;
  z-index: 0;
  pointer-events: none;
}

.mypic > * {
  position: relative;
  z-index: 1;
}

